
@{
    ViewBag.Title = "Index";
}

<h1>Movies</h1>

<table class="table table-bordered table-hover">
    <tr>
        <th>Movies</th>
    </tr>
    <tr>
        <td>I am Legend</td>
    </tr>
    <tr>
        <td>Zombieland</td>
    </tr>
</table>


